{% extends 'layout.html' %}

{% block title %}
    ID Creator
{% endblock %}

{% block header %}
    <header>
        <h1>Webmaster</h1>

    </header>
{% endblock %}

{% block content %}
<section class="cv">
    <div class="infophoto">
        <div class="info">
            <p><strong>Benjamin THIBOULT</strong><br/>
                22 ans (1997)
            </p>
            <p>
                Résidence Etudiante KLEY - Appartement B502<br/>
                2, rue René Cornemont<br/>
                31400 TOULOUSE<br/><br/>
                06 11 15 01 95<br/>
                benjamin.thiboult@gmail.com
            </p>
            <p>Permis B<br/><br/></p>
        </div>
        <div class="photo">
            <img src="static/img/ben.png" alt="Photo Benjamin Sansou"/>
        </div>
    </div>
    <section class="forma">
        <h2>Formation</h2>
        <div class="sec-gauche" id = "forma-gauche">
            <p>2015</p>
            <p>2015/2018</p>
            <p>2018/2019</p>
        </div>
        <div class="sec-droite">
            <p><span class="titre">Lycée Saint-Paul de Vannes</span><br/>Baccalauréat scientifique (spécialité Mathématiques), Mention Très Bien</p>
            <p><span class="titre">Lycée Chateaubriand de Rennes</span><br/>Maths SUP / Maths SPE</p>
            <p><span class="titre">Ecole nationale de l’aviation civile</span><br/>Première année d’école d’ingénieur aéronautique</p>
        </div>
    </section>
    <section>
        <h2>Expériences professionneles</h2>
        <div class="sec-gauche">
            <p>En 2019<br/><br/></p>
            <p>De 2018 à 2019<br/><br/></p>
            <p>En 2017 et 2018<br/><br/></p>
            <p>De 2015 à 2016</p>
        </div>
         <div class="sec-droite">
            <p><span class="titre">Responsable Logistique GALA ENAC 2019</span><br/>Gestion de la mise en place du gala et du dispositif de sécurité</p>
            <p><span class="titre">Responsable Graphisme 33ème édition d'Airexpo</span><br/>Réalisation de tous les supports visuels du meeting</p>
            <p><span class="titre">Workaway</span><br/>Bénévolat dans un centre de loisir en Espagne (2018) puis dans un élevage de chiens de traîneaux en Norvège (2019)</p>
            <p><span class="titre">Runner Backstage Festival "Jazz en ville" (Vannes)</span><br/>Mise en place des scènes éphémères dans la ville</p>
        </div>
    </section>
    <section>
        <h2>Compétences</h2>
        <div class="sec-gauche">
            <p>Compétences: </p>
            <p>Langues : </p>
            <p>Logiciels maîtrisés: </p>
            <p>Connaissances en : </p>
        </div>
         <div class="sec-droite">
             <p>Gestion de projet - Management d’équipe - Photographie - Retouche photo - Captation d'images - Montage Vidéo</p>
             <p>TOEIC (985) - Espagnol (Niveau Moyen)</p>
             <p>Suite Office, Photoshop, In Design, Illustrator, Premiere Pro, After Effects</p>
             <p>Communication, Design & Graphisme, Aéronautique (ATM, Aéroport, Conception avions... )</p>
        </div>
    </section>

    <section>
        <h2>Centres d'intêret</h2>
        <div class="sec-gauche">
            <p>Sport :</p>
            <p>Aéronautique :</p>
            <p>Photo / Vidéo : </p>
        </div>
         <div class="sec-droite">
             <p>Equitation, Basket, Tennis, Crossfit, Rugby</p>
             <p>Planeur (license en cours)</p>
             <p>Shootings photo, Réalisation de courts métrages amateurs, Régie LIVE son & lumière</p>
        </div>
    </section>
</section>
{% endblock %}