{% extends 'layout.html' %}

{% block title %}
    ID Creator
{% endblock %}

{% block header %}
    <header>
        <h1>Webmaster</h1>

    </header>
{% endblock %}

{% block content %}
<section class="cv">
    <div class="infophoto">
        <div class="info">
            <p><strong>Lou VANHERSECKE VOYRON</strong><br/>
                19 ans (1999)
            </p>
            <p>
                205 Route de Montastruc<br/>
                CS 31380<br/>
                BAZUS<br/><br/>
                06 18 68 94 83<br/>
                lou.vanhersecke@gmail.com
            </p>
            <p>Permis B<br/><br/></p>
        </div>
        <div class="photo">
            <img src="static/img/loupp.jpg" alt="Photo Lou VANHERSECKE VOYRON"/>
        </div>
    </div>
    <section class="forma">
        <h2>Formation</h2>
        <div class="sec-gauche" id = "forma-gauche">
            <p>2014/2015</p>
            <p>2015/2017</p>
            <p>2017/2018</p>
            <p>2018/2019</p>
        </div>
        <div class="sec-droite">
            <p><span class="titre">Lycée Pierre de Fermat </span><br/>Diplôme Baccalauréat scientifique, mention très bien, spécialité svt</p>
            <p><span class="titre">Faculté de médecine Rangueil</span><br/>PACES</p>
            <p><span class="titre">Toulouse Tech</span><br/>Consortium de 9 grandes écoles d'ingénieurs</p>
            <p><span class="titre">Ecole nationale de l’aviation civile</span><br/>Première année d’école d’ingénieur aéronautique</p>
        </div>
    </section>
    <section>
        <h2>Expériences professionneles</h2>
        <div class="sec-gauche">
            <p>Eté 2016<br/><br/></p>
            <p>Eté 2018<br/><br/></p>
            <p>De 2014 à aujourd'hui<br/><br/></p>
        </div>
         <div class="sec-droite">
            <p><span class="titre">Serveuse</span><br/>Brasserie l'Esquisse</p>
            <p><span class="titre">Serveuse</span><br/>Restaurant/Bar Le Biergarten</p>
            <p><span class="titre">Aide aux devoirs</span><br/>Niveau collège/lycée</p>
        </div>
    </section>
    <section>
        <h2>Compétences</h2>
        <div class="sec-gauche">
            <p>Compétences: </p>
            <p>Anglais : </p>
            <p>Espagnol :</p>
            <p>Connaissances en : </p>
        </div>
         <div class="sec-droite">
             <p>Informatique - Esprit d'équipe - Qualités relationnelles </p>
             <p>B2</p>
             <p>B1</p>
             <p>Communication, Programmation (Html, Python)</p>
        </div>
    </section>

    <section>
        <h2>Centres d'intêret</h2>
        <div class="sec-gauche">
            <p>Sport :</p>
            <p>Musique : </p>
        </div>
         <div class="sec-droite">
             <p>Taekwondo, 7 ans de pratique, grae barette noire médaillée aux Championnats de France et OPen Internationaux </p>
             <p>Guitare électro-acoustique</p>
        </div>
    </section>
</section>
{% endblock %}