{% extends 'layout.html' %}

{% block title %}
    ID Creator
{% endblock %}

{% block header %}
    <header>
        <h1>Webmaster</h1>

    </header>
{% endblock %}

{% block content %}
<section class="cv">
    <div class="infophoto">
        <div class="info">
            <p><strong>Florian SANSOU</strong><br/>
                20 ans (1998)
            </p>
            <p>
                Résidence Universitaire Pythagore - Appartement 2511<br/>
                118 Route De Narbonne<br/>
                CS 17705<br/>
                31077 TOULOUSE CEDEX 04<br/><br/>
                06 38 92 25 20<br/>
                fl.sansou@gmail.com
            </p>
            <p>Permis B<br/><br/></p>
        </div>
        <div class="photo">
            <img src="static/img/flo.jpg" alt="Photo Florian Sansou"/>
        </div>
    </div>
    <section class="forma">
        <h2>Formation</h2>
        <div class="sec-gauche" id = "forma-gauche">
            <p>2016</p>
            <p>2017/2018</p>
            <p>2018/2019</p>
        </div>
        <div class="sec-droite">
            <p><span class="titre">LGT Champollion </span><br/>Diplôme Baccalauréat scientifique, mention bien, section sciences de l’ingénieur</p>
            <p><span class="titre">Lycée Bellevue</span><br/>CPGE Bellevue filière PSI</p>
            <p><span class="titre">Ecole nationale de l’aviation civile</span><br/>Première année d’école d’ingénieur aéronautique</p>
        </div>
    </section>
    <section>
        <h2>Expériences professionneles</h2>
        <div class="sec-gauche">
            <p>De 2012 à 2014<br/><br/></p>
            <p>En 2013<br/><br/></p>
            <p>De 2014 à 2018<br/><br/></p>
            <p>De 2018 à Aujourd’hui</p>
        </div>
         <div class="sec-droite">
            <p><span class="titre">SARL Tranier</span><br/>Manœuvre, job d’été dans le secteur métallerie ferronnerie</p>
            <p><span class="titre">SARL Mecatour</span><br/>Stagiaire dans le secteur de  l'usinage de précision </p>
            <p><span class="titre">SARL Tranier</span><br/>Manœuvre, job d’été dans le secteur métallerie ferronnerie</p>
            <p><span class="titre">SARL Tranier</span><br/>Chef de production dans le secteur métallerie ferronnerie</p>
        </div>
    </section>
    <section>
        <h2>Compétences</h2>
        <div class="sec-gauche">
            <p>Compétences: </p>
            <p>Anglais : </p>
            <p>Logiciels maîtrisés: </p>
            <p>Connaissances en : </p>
        </div>
         <div class="sec-droite">
             <p>Gestion de projet - Management d’équipe - Conception et fabrication assistée par ordinateur - Dessin industriel</p>
             <p>B2</p>
             <p>SolidWorks, Flow simulation et Simulation, Matlab, Simulink, Rdm 6</p>
             <p>Marketing, Programmation (Html, C++, Arduino, Python)</p>
        </div>
    </section>

    <section>
        <h2>Centres d'intêret</h2>
        <div class="sec-gauche">
            <p>Sport :</p>
            <p>Aéronautique :</p>
            <p>Electronique : </p>
            <p>Programmation :</p>
        </div>
         <div class="sec-droite">
             <p>Ski, Escalade, Kitesurf, Course d’orientation, Vélo </p>
             <p>Pilotage, Montgolfière, ULM, Mécanique</p>
             <p>Prototypage Arduino et Raspberry Pi, Montage électronique</p>
             <p>Site web (HTML, CSS et Javascript), Arduino, C++, Python</p>
        </div>
    </section>
</section>
{% endblock %}