{% extends 'layout.html' %}

{% block title %}
    ID Creator
{% endblock %}

{% block header %}
    <header>
        <h1>Générateur d'identité</h1>

    </header>
{% endblock %}

{% block content %}
  <!-- #####################################################################
	section Ecole
#####################################################################	 -->
        <section id="">

        </section>


<!-- #####################################################################
	section Nous contacter
#####################################################################	 -->

{% endblock %}