{% extends 'layout.html' %}

{% block title %}
    ID Creator
{% endblock %}

{% block header %}
    <header>
        <h1>Générateur d'identité</h1>

    </header>
{% endblock %}

{% block content %}

        <section>
            <p>Cette application web a pour vocation de créer des fichiers d'identitées fictives qui vous permettrons par exemple d'essayer vos futurs projets dans des conditions réelles</p>
            <p>N'hesiter pas à vous balader dans le site de manière à découvrir les differentes fonctionnalités </p>
            <p>Et si jamais le projet vous intéresse pourquoi ne pas contacter un des webmaster dans la rubrique adéquate pour qu'il vous crée un profil</p>

        </section>


{% endblock %}