{% extends 'layout.html' %}

{% block title %}
    ID Creator Liste
{% endblock %}


{% block header %}
    <header id="top2">
        <h1>Liste</h1>
    </header>
{% endblock %}


{% block content %}
    <section id="liste">
        <ol>
            {% for ligne in data %}
            <div class="parent">
                <p>Liste {{ligne.idListe}} </p>
                <div class="enfant">
                    Descriptif : {{ligne.descriptif}}<br/>
                    Nom du créateur : {{ligne.login}}<br/>
                    Nombre d'identité du jeu : {{ligne.dim}}
                    <form method="post" action="{{ url_for('download_liste') }}">
                          <button class="button2" type="submit" name="btn_download" value={{ligne.idListe}}>Télécharger</button>
                     </form>
                    <form method="post" action="{{ url_for('selecteur') }}">
                          <button class="button2" type="submit" name="btn_visualiser" value={{ligne.idListe}}>Visualiser</button>
                     </form>
                    {% if session.privilege == 0 %}
                     <form method="post" action="{{ url_for('delete_liste') }}">
                          <button class="button2" type="submit" name="btn_submit" value={{ligne.idListe}}>Supprimer</button>
                     </form>
                    {% else %}
                        {% if session.id == ligne.idUtilisateur %}
                            <form method="post" action="{{ url_for('delete_liste') }}">
                                 <button class="button2" type="submit" name="btn_submit" value={{ligne.idListe}}>Supprimer</button>
                            </form>
                        {% endif %}
                    {% endif %}

                </div>
            </div>

            {% endfor %}
        </ol>
    </section>
{% endblock %}