{% extends 'layout.html' %}

{% block title %}
    ID Creator Liste
{% endblock %}


{% block header %}
    <header id="top2">
        <h1>Liste</h1>
    </header>
{% endblock %}


{% block content %}
    <section id="liste">
        <ol>
                    {% for ligne in data %}
                    <form method="post" action="{{ url_for('sublist') }}">
                        <input name="nombre" placeholder="Nombre d'identité" type="number" required />
                        <input type="checkbox" name="datenaiss" id="datenaiss" checked="checked">
                        <label for="datenaiss">Date de naissance</label>
                        <input type="checkbox" name="ville_naissance" id="ville_naissance" checked="checked">
                        <label for="ville_naissance">Ville naissance</label>
                        <input type="checkbox" name="adresse" id="adresse" checked="checked">
                        <label for="adresse">Adresse</label>
                        <input type="checkbox" name="numero_insee" id="numero_insee" checked="checked">
                        <label for="numero_insee">Numero de sécurité sociale</label>
                        <input type="checkbox" name="idcard" id="idcard" checked="checked">
                        <label for="idcard">Carte d'identité</label>
                        <input type="checkbox" name="numTel" id="numTel" checked="checked">
                        <label for="numTel">Numero de téléphone</label>
                        <input type="checkbox" name="email" id="email" checked="checked">
                        <label for="email">Mail</label>
                        <input type="checkbox" name="num_carte_banc" id="num_carte_banc" checked="checked">
                        <label for="num_carte_banc">Carte bancaire</label>
                        <input type="checkbox" name="iban" id="iban" checked="checked">
                        <label for="iban">Iban</label>
                        <button class="button" type="submit" name="btn_visualiser" value={{ligne}}>Visualiser</button>
                     </form>
                    {% endfor %}


        </ol>
    </section>
{% endblock %}