{% extends 'layout.html' %}

{% block title %}
    ID Creator Liste
{% endblock %}


{% block header %}
    <header id="top2">
        <h1>Liste</h1>
    </header>
{% endblock %}


{% block content %}
    <section id="liste">
        <ol>
            {% for ligne in data %}

                <p>{{ligne.nom}}  {{ligne.prenom}}  {{ligne.date_naissance}}  {{ligne.ville_naissance}} {{ligne.numero}} {{ligne.nom_voie}} {{ligne.code_post}} {{ligne.nom_commune}} {{ligne.numero_insee}} {{ligne.mrz}} {{ligne.numTel}} {{ligne.email}} {{ligne.num_carte_banc}} {{ligne.iban}} {{ligne.genre}}</p>


            {% endfor %}
        </ol>
    </section>
{% endblock %}