{% extends 'layout.html' %}

{% block title %}
    ID Creator
{% endblock %}

{% block header %}
    <header>
        <h1>Webmaster</h1>

    </header>
{% endblock %}

{% block content %}

        <section id="cv">
            <a href="{{ url_for('cv1') }}" class="lien">
                Florian SANSOU
            </a>
            -
            <a href="{{ url_for('cv2') }}" class="lien">
                Benjamin Thiboult
            </a>
            -
            <a href="{{ url_for('cv3') }}" class="lien">
                Lou Vanhersecke Voyron
            </a>
        </section>

        <section class="tuto">
        <video src="static/video/tuto.mp4" controls class="video_tuto"></video>
        </section>



{% endblock %}