{% extends 'layout.html' %}

{% block title %}
    ID Creator
{% endblock %}

{% block header %}
    <header>
        <h1>Webmaster</h1>

    </header>
{% endblock %}

{% block content %}

        <section id="">
            <a href="{{ url_for('cv1') }}" class="lien">
                Florian SANSOU
            </a>
            -
            <a href="{{ url_for('cv2') }}" class="lien">
                Benjamin Thiboult
            </a>
            -
            <a href="{{ url_for('cv3') }}" class="lien">
                Lou Vanhersecke Voyron
            </a>
        </section>



{% endblock %}